

/* Asegurarse de que los elementos de la página de administrador tengan el color correcto */
[data-theme="dark"] .admin-layout {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Asegurarse de que las tablas en el panel de administrador tengan el color correcto */
[data-theme="dark"] table {
  color: var(--text-color);
  border-color: var(--border-color);
}

[data-theme="dark"] th,
[data-theme="dark"] td {
  border-color: var(--border-color);
}

/* Asegurarse de que los elementos de la página de login tengan el color correcto */
[data-theme="dark"] .login-container .right-section {
  background-color: var(--background-color);
}

[data-theme="dark"] .login-container .form-title,
[data-theme="dark"] .login-container .label {
  color: var(--text-color);
}

[data-theme="dark"] .login-container .input {
  background-color: var(--gray-100);
  color: var(--text-color) !important;
  border-color: var(--border-color);
}
